/* header */
#header{
    margin: 0px auto;
    width: 1320px;
    position: relative;
}
.nav{
     display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px 0;
}
.gnb{
    display: flex;
}
.gnb1{
    display: flex;
}
.gnb li a{
    display: block;
    font-size: 18px;
    font-weight: bolder;
    color: #3863CD;
    padding: 0 60px;
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    padding-bottom: 5px;
}
/* animation */
@keyframes dealWithIt {

    1% {
      transform: translate3d(0,0,0) scale(1);
      opacity: 1;
    }


    30% {
      transform: translate3d(0,160px,0) scale(1);
      opacity: 1;
    }

    70% {
      transform: translate3d(0,160px,0) scale(1);
      opacity: 1;
    }

    85% {
      transform: translate3d(0,160px,0) scale(1);
      opacity: 1;
    }

    99% {
      transform: translate3d(0,-2000px,0) scale(1);
    }

    to {
      visibility: hidden;
      opacity: 0;
    }

  }
  @keyframes dealWithItNorm {

    1% {

    }

    30% {
      transform: translate3d(0,0px,0) scale(1);
      opacity: 1;
    }

    40% {
      transform: rotate(10deg);
      opacity: 1;
    }

    50% {
      transform: rotate(-10deg);
    }

    60% {
      transform: rotate(10deg);
    }

    70% {
      transform: rotate(-10deg);
    }

    80% {
      transform: rotate(0deg);
    }


  }
  .dealWithIt::after {
    height: 300px;
    width: 300px;
    z-index: 5;
    background-repeat: no-repeat;
    content: '';
    /* background: url('http://www.stickpng.com/assets/thumbs/584999a27b7d4d76317f5ffe.png'); */
    animation-timing-function: ease-in-out;
    transform-origin: bottom center;
    animation-name: dealWithIt;
    /* animation-duration: 0s; */
    animation-fill-mode: forwards;
    vertical-align: baseline;
    position: absolute;
    top: -200%;
    right: -50%;
    bottom: -50%;
    left: -50%;
  }
   .dealWithIt {
     /*position: absolute;*/
     animation-timing-function: ease-in-out;
     transform-origin: bottom center;
     animation-name: dealWithItNorm;
     animation-duration: 5s;
     animation-iteration-count:infinite
   } 